$padding-horizontal-mobile: 100px;
$padding-horizontal-sm: 150px;
$padding-horizontal-md: 200px;
$padding-horizontal: 250px;
$black: #4C4D5E;
$dark: #242536;
$dark-grey: #92929D;
$darkest-grey: #70707B;
$grey: #E4E4E4;
$light-grey: #F6F6F6;
$blue: #282B57;
$red: #D73B3B;
$red-dark: #c62a2a;