@import 'styles/_breakpoints.scss';
@import 'styles/_variables.scss';

.menu {
  &__filters {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 30px;
    width: 100%;
  }
}